@font-face {
  font-family: 'Jersey10';
  src: url('./assets/Jersey10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jersey25';
  src: url('./assets/Jersey25-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.home-container {
  image-rendering:pixelated;
  image-rendering: crisp-edges;
  width: 400px;
  height: 430px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-sizing: border-box;

  /* center its content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  position: relative;
  overflow: hidden; /* ensures nothing spills out */
}

.home-content {
  width: 100%;
  height: 100%;
  padding: 60px 0 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.image-button img {
  padding-top: 30px;
  width: 80px;
  height: 30px;
  display: block;
}

.close-button {
  position: absolute;
  top: 16px;
  right: 13px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button img {
  width: 21px;
  height: 21px;
}

.image-button, .home-button, .play-button {
  background: transparent;
  border: none;
  padding: 20;
  margin: 20;
  cursor: pointer;
}

.timer-asset {
  font-family: "Jersey10";
  letter-spacing: 5px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  color: var(--timer-color); /* we’ll control this with themes */
  align-items: center;
}

.encouragement-asset {
  font-family: "Jersey10", sans-serif;
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  color: #fff;
  transition: opacity 0.4s;
}

.play-asset {
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  image-rendering: pixelated;
}

.mode-buttons {
  position: absolute;
  top: 55px;
  left: 50%;
  display: flex;
  gap: 10px;
  transform: translateX(-50%);
  align-items: center;
  image-rendering: pixelated;
}

.play-asset img {
  width: 33px;
  height: auto;
  margin-bottom: 100px;
  align-items: center;
}