@font-face {
  font-family: 'Retrograde-Regular';
  src: url('./assets/Retrograde-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Retrograde-Regular', sans-serif;
  margin: 0;
  padding: 0;
}

.home-container {
  width: 400px;
  height: 430px;
  background-image: url('./assets/background-blue.png');
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-sizing: border-box;

  /* center its content */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  position: relative;
  overflow: hidden; /* ensures nothing spills out */
}

.home-content {
  width: 100%;
  height: 100%;
  padding: 60px 0 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.encouragement-text {
  font-size: 1.25rem;
  color: #ffffffff;
  margin-bottom: 0.5rem;
  animation: fadeIn 1s ease-in-out;
  transition: opacity 0.8 ease;
  align-items: center;
}

.encouragement-text.hidden {
  opacity: 0;
}

.background-green {
  background-image: url('./assets/background-green.png');
}



.image-button img {
  width: 100px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.home-timer {
  font-size: 60px;
  color: #FAF9F6;
  margin: 0;
}

.gif-image {
  height:90px;

}

.home-button img {
  width: 60px;
  display: block;
  padding-bottom: 30px;
}

.image-button img {
  padding-top: 30px;
  width: 80px;
  height: 30px;
  display: block;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button img {
  width: 24px;
  height: 24px;
}

.image-button, .home-button, .play-button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}


.home-content .play-button {
  margin-top: 8px;
  margin-bottom: 0;
}